<!doctype html>
<html lang="en-GB" class="SNDL-Dark">
    <head>
        <title>The Flashcord Store</title>
        <!-- SNWE SEO -->
        <meta name="description" content="Welcome to the Flashcord Store! Get your favorite Flashcord official or community addons here! This is also a complete replacement to the Replugged's Store! Find all your Themes and Plugins with ease, even those not approved by Replugged! And, yes, with actual images to aid your search, unlike a certain other store.">
        <meta name="author" content="SiriusBYT">
        <meta name="keywords" content="Flashcord, Discord, Replugged, Vencord, BetterDiscord, Store, Addons, Addon, Module, Plugin, Theme, Themes, Plugins, Free, Discord Client Mod, Mod, Client Mod, HTML, CSS, JavaScript">
        <!-- SNWE Embed -->
        <meta content="The Flashcord Store" property="og:title" />
        <meta content="Welcome to the Flashcord Store! Get your favorite Flashcord official or community addons here! This is also a complete replacement to the Replugged's Store! Find all your Themes and Plugins with ease, even those not approved by Replugged! And, yes, with actual images to aid your search, unlike a certain other store." property="og:description" />
        <meta content="https://sirio-network.com/flashcord/store" property="og:url" />
        <meta content="https://sirio-network.com/flashcord/elements/theme-preview_transparent.png" property="og:image" />
        <meta content="#FFEEFF" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <!-- SNWE External-->
        <link rel="stylesheet" href="../bin/SNDL-App_Base.css">
        <link rel="stylesheet" href="../bin/SNDL-Flashcord.css">
        <script src="../bin/SNDL-Flashcord.js"></script> 
        <script src="https://sirio-network.com/flashcord/store/api/Flashcord_API_JS_Client.js"></script> 
        <link rel="icon" type="image/x-icon" href="https://sirio-network.com/sbin/SGN-SNDL_FULL.png">
        <!-- SNWE Misc-->
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="FakeRoot">
            <nav>
                <a href="https://sirio-network.com/home" class="SNDL-Nav_Banner"><img src="../sbin/Flashcord/SNDL-Flashcord.png"></img></a>
                <div class="SNDL-Nav_Links">
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/youtube.html"><p>SiriusBYT</p><p>SBYT</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/servers.html"><p>Sirio Game Network</p><p>SGN</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/music.html"><p>Music</p><p>Music</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/flashcord/store.html"><p>Flashcord</p><p>Flashcord</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/news"><p>News</p></a></div>
                </div>
            </nav>

            <div class="SNDL-WarningBanner">
                <p>⚠️ The Flashcord Store is <strong>UNFINISHED</strong>, Chorme-based web browsers may have issues displaying this page.</p>
            </div>

            <div class="Userspace">
                
                <div class="Flashcord-Introduction">
                    <div class="Flashcord-IntroIMG">
                        <img src="https://sirio-network.com/sbin/Flashcord/SNDL-Flashcord.png">
                    </div>
                    <div class="Flashcord-IntroText">
                        <h1>Welcome to the Flashcord Store!</h1>
                        <h3 class="Flashcord-Splash" style="margin-top: -2rem; margin-bottom: -1rem;">[SPLASH_TEXT]</h3>
                        <p>Get your favorite <b>Flashcord official or community addons</b> here!</p>
                        <p>You'll also <b>find all the Replugged Plugins/Themes</b>, <i>including those who didn't get approved</i>!</p>
                        <p>To <b>install a module/plugin, click their name</b> and then follow the instructions.</p>
                        <div class="SNDL-Quote SNDL-BC_Warning">
                            <div>
                                <h3 style="text-align: left;">⚠️ PLEASE NOTE:</h3>
                                <p style="text-align: left;">Installing plugins from the Flashcord Store is at your own risk.</p>
                                <p style="text-align: left;">I am not held responsable for any damage.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SNDL-Quick_FlexGrid" style="justify-content: space-between;">
                    <h1>Store Categories</h1>
                    <div class="SNDL-CodeBlock">
                        <h4 style="margin: auto;">Technical Details:</h4>
                        <p>Flashcord API Server Version: [SERVER_VERSION]</p>
                        <p>Flashcord API Latency: [API_LATENCY]</p>
                        <p>Flashcord API Version: [API_VERSION]</p>
                        <p>Last store update: [LAST_UPDATE]</p>
                        
                    </div>
                </div>

                <p class="SNDL-LineSpacer_H"></p>
                <div class="SNDL-Quick_FlexGrid SNDL-Auto_Flex">
                    <button class="SNDL-BC_Info">
                        <a href="#Flashcord-Modules">
                            <p>📸 Flashcord Modules</p>
                        </a>
                    </button>
            
                    <button class="SNDL-BC_Disclaimer">
                        <a href="#Flashcord-Plugins">
                            <p>🔌 Replugged Plugins</p>
                        </a>
                    </button>
            
                    <button class="SNDL-BC_Warning">
                        <a href="#Flashcord-Themes">
                            <p>🔧 Non-Flashcord Themes</p>
                        </a>
                    </button>
                </div>
                <p class="SNDL-LineSpacer_H"></p>

                <h2 id="Flashcord-Modules">Flashcord Modules</h2>
                <p>Theses modules have been made by yours truly, Flashcord's Creator, and also the community!</p>
                <p>Find all your Flashcord Configuration files and also patches for Vencord here!</p>
                <input class="SNDL-SearchInput" type="text" placeholder="Search Modules by Name" onkeyup="Search(this,'Flashcord-Modules_Approved')">
                <div id="Flashcord-Modules_Approved" class="SNDL-Quick_FlexGrid SNDL-Contain_Light">
[FLASHCORD_OFFICIAL-MODULES]
                </div>

                <p class="SNDL-LineSpacer_H"></p>

                <h2 id="Flashcord-Plugins">Replugged Plugins</h2>
                <div class="SNDL-Quote SNDL-BC_Disclamer">
                    <div>
                        <p>Theses Replugged plugins have been refused to be on the official Replugged Store for diverse reasons, this is a list of plugins where multiple people have verified the source code to prevent malicious code to be executed.</p>
                        <p>The primary download of these plugins may be outdated from the source repository, you can still however download the original plugin from the source, at your own risk of course.</p>
                        <h3>In the end of the day, you should still only use these plugins at your own risk.</h3>
                        <p>I am not held responsable if you install a malicious plugin.</p>
                    </div>
                </div>
                <input class="SNDL-SearchInput" type="text" placeholder="Search Plugins by Name" onkeyup="Search(this,'Flashcord-Plugins_Approved')">
                <div id="Flashcord-Plugins_Approved" class="SNDL-Quick_FlexGrid SNDL-Contain_Light">
[FLASHCORD_PLUGINS]
                </div>

                <h2>Replugged Store Plugins</h2>
                <p>Just your regular Replugged Plugins, now on the Flashcord Store! Simply browse and click install on plugins that might interest you.</p>
                <div class="SNDL-Quote SNDL-BC_Info">
                    <div>
                        <h3>Notice:</h3>
                        <p>You will be redirected to Replugged's website if you are installing a plugin or viewing their store page.</p>
                        <p>Replugged doesn't let their client install plugins from any website other than their Website or GitHub.</p>
                    </div>
                </div>
                <input class="SNDL-SearchInput" type="text" placeholder="Search Plugins by Name" onkeyup="Search(this,'Replugged-Store_Plugins')">
                <div id="Replugged-Store_Plugins" class="SNDL-Quick_FlexGrid SNDL-Contain_Light">
[REPLUGGED_PLUGINS]
                </div>

                <p class="SNDL-LineSpacer_H"></p>

                <h2 id="Flashcord-Themes">[Experiment] Non-Flashcord Themes</h2>
                <p>This is very much an experiment, that's right! As much as I wanna monopolise on getting Flashcord N°1, you still gotta give some other themes some respect.</p>
                <p>These themes are manually approved by myself because I honestly think they're really cool and deserve to be shown too.</p>
                <input class="SNDL-SearchInput" type="text" placeholder="Search Themes by Name [DOES NOT WORK CURRENTLY]" onkeyup="Search(this,'Flashcord-Themes_Approved')">
                <div id="Flashcord-Themes_Approved" class="SNDL-Quick_FlexGrid SNDL-Contain_Light">
[NON-FLASHCORD_THEMES]
                </div>

                <h2>Replugged Store Themes</h2>
                <p>Just your regular Replugged Themes, now on the Flashcord Store! Simply browse and click install on themes that might interest you.</p>
                <p>Unlike the Replugged Store, you may actually see what themes look like without having to mindlessly click on every single theme.</p>
                <div class="SNDL-Quote SNDL-BC_Info">
                    <div>
                        <p>You will be redirected to Replugged's website if you are installing a plugin or viewing their store page.</p>
                        <p>Replugged doesn't let their client install plugins from any website other than their Website or GitHub.</p>
                    </div>
                </div>
                <input class="SNDL-SearchInput" type="text" placeholder="Search Themes by Name" onkeyup="Search(this,'Replugged-Store_Themes')">
                <div id="Replugged-Store_Themes" class="SNDL-Quick_FlexGrid SNDL-Contain_Light">
[REPLUGGED_THEMES]
                </div>

                <div class="SNDL-Copyright">
                    <p>SiriusBYT © [COPYRIGHT_DATE] - Sirio Network Website | CC-BY-ND-NC 4.0</p>
                </div>
                <div class="SNDL-Copyright">
                    <p>Flashcord is not affiliated or endorsed by Discord. Discord is a trademark of Discord Inc.</p>
                </div>
            </div>
        </div>
    </body>
</html>